In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('/Users/srisuphachawla/Downloads/stock_market_data.csv')
df

,Price,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
0,Ticker,AAPL,MSFT,TSLA,AAPL,MSFT,TSLA,AAPL,MSFT,TSLA,AAPL,MSFT,TSLA,AAPL,MSFT,TSLA
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-02,40.34188461303711,79.05035400390625,21.368667602539062,40.3512542876815,79.3814555361966,21.474000930786133,39.63930910102925,78.63648059701545,20.733333587646484,39.85008389872191,79.21590477005142,20.799999237060547,102223600,22483800,65283000
3,2018-01-03,40.33486557006836,79.41828155517578,21.149999618530273,40.87819243452449,79.56544097743182,21.683332443237305,40.27163633682215,79.06878845273889,21.036666870117188,40.40512384715967,79.15156036504732,21.399999618530273,118071600,26061400,67822500
4,2018-01-04,40.522220611572266,80.11727142333984,20.974666595458984,40.62526561027816,80.62312314498602,21.23666763305664,40.299739040812426,79.62061891943647,20.3786678314209,40.40746530419806,79.63901033797488,20.857999801635742,89738400,21912000,149194500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2033,2026-02-02,270.010009765625,423.3699951171875,421.80999755859375,270.489990234375,430.739990234375,427.1499938964844,259.2099914550781,422.25,414.5,260.0299987792969,430.239990234375,421.2900085449219,73913400,42219900,58739500
2034,2026-02-03,269.4800109863281,411.2099914550781,421.9599914550781,271.8800048828125,422.04998779296875,428.55999755859375,267.6099853515625,408.55999755859375,413.69000244140625,269.20001220703125,422.010009765625,424.2699890136719,64394700,61424100,56886500
2035,2026-02-04,276.489990234375,414.19000244140625,406.010009765625,278.95001220703125,419.79998779296875,423.8999938964844,272.2900085449219,409.239990234375,399.17999267578125,272.2900085449219,411.0,420.4599914550781,90545700,45012400,74606900
2036,2026-02-05,275.9100036621094,393.6700134277344,397.2099914550781,279.5,408.29998779296875,402.1000061035156,273.2300109863281,392.32000732421875,387.5299987792969,278.1300048828125,407.44000244140625,397.0199890136719,52977400,66289200,72819800
2037,2026-02-06,278.1199951171875,401.1400146484375,411.1099853515625,280.9100036621094,401.7900085449219,414.54998779296875,276.92999267578125,392.9200134277344,397.75,277.1199951171875,399.1700134277344,400.8699951171875,50420700,53403600,62559600

# Pre-processesing to consider:
1. Ticker as column name
2. clean up the dates
3. remove the row Date since Nan

In [5]:
df.isnull().

,Price,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2033,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2034,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2035,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2036,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2037,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False